<form action="/books" method="post">
   <label>Book <input type="text" name="book_titel"></label>
   <label>Author <input type="text" name="book_author"></label>
   <label>Pages <input type="integer" name="book_pages"></label>
   <label>Status <input type="text" name="book_status"></label>
   <input type="submit" value="Spara">
</form>