<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/style.css?<%=Time.now.to_i%>"> 
</head>
<body>
    <header>
        <h1 class="logo">Books</h1>
    </header>
    <hr>
        <nav>
            <ul>
                <li><a href="/books">Alla våra böcker</a></li>
                <li><a href="/books/new">Lägg till book</a></li>
                <li><a href="/books/new_user">lägg till användare</a></li>
                <li><a href="/books/login">Login</a></li>
            </ul>
        </nav>
    <hr>
    <%= yield %>
    <footer>
        <p>Kontakta oss</p>
    </footer>
</body>
</html>